h4{
    text-align: center;
    padding: 20px;
}

#tarantino-start{
    text-align: center;
}

body, html{
    background-image:url("../images/background2.jpg") ;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
}

#tarantino-start{
    margin-top: 100px;
    background-color: rgb(255, 51, 0);
    height: 300px;
    width: 700px;
    padding: 100px;
    border: 5px;
    background-image: url("../images/start.jpg") ;  
    background-blend-mode: multiply;
	background-size: 100%;
	background-repeat: no-repeat;
    display: block;	 
  
   
      
}

#tarantino-trivia{
   color: rgb(255, 217, 0);
    
}
#questions-container{
    background-color: rgb(255, 51, 0);
    padding: 30px;
    margin-bottom: 100px;
    
}

h4{
    color: rgb(255, 217, 0);
}

.show-number{
    background-color: rgb(255, 51, 0);
    height: 150px;
    width: 1140px;
    padding: 50px; 
    margin: auto;
    margin-top: 20px;
 
}

